.box{
    height:70px;
    width:15px;
    background-color: rgb(62, 114, 114);
    position: relative;
    left:180px;
    top:65px;
}

.dining{
  /* position:relative;
  left:220px;
  bottom:300px; */
  position: relative; 
  top:-4px;
  left:260px;

    color: black; 
    font-size : 30px;
    font-weight: 700;

}

.lorem-ip{
position:relative;
left:750px;
top:-80px;
}

.card-containerisation{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap:100px;
    margin-left: 100px;
}
.seemore{
    position: relative;
    top:160px
}


.container-third-page{
    margin-bottom: 200px;

}