.h6-nm{
    color: rgb(26, 26, 109);
    position: relative;
    left:650px;
    top:100px;
}

.lorem-f5-p{
    position:relative;
left:400px;
top:120px;
color:grey;
}
/* 
.pop{
    position: relative;
    top:200px;
    left:30px;
    display: grid;
    grid-template-columns:(repeat(3,1fr));
  
} */


.pop {
    position: relative;
    top: 100px;
    left: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Remove parentheses around repeat */
    gap: 30px; /* Add some gap between SmallCard components */
}
.buttonsfifthPage{
    margin: 15px;
    padding: 50px;
}

.card-container-fp{
    margin-bottom: 200px;
}