.card2{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 450px;
  border-radius: 5px;
  height:450px;
  background-color: white;
  position: relative;
  top:-350px;
  left:100px
 
}


.img-in-bigcard{
  width:220px;
  height: 200px;
  position: relative;
  top:30px;
  left: 100px;

}

.test{
  color: blue;
}

.h6js{
  position: relative;
  left:100px;
  top:40px;
  color:rgb(42, 42, 118)
}

.pjs{
  position: relative;
  top:50px;
  left:120px;
}